includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    # Level 9 is the highest level
    level: 9

    paths:
        - app
        - database

    excludePaths:
        - tests
        - vendor
        - '.phpstorm.meta.php'
        - '_ide_helper.php'
        - 'server.php'

    checkMissingIterableValueType: false
    checkUninitializedProperties: true
